outputs
reports
*.pdf
*.nii
*vscode
*.vscode
subjects_batched
data
*.csv
tempscript*

__pycache__/
.ruff_cache/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.vscode

.venv
venv

.pyc

assets/

.claude
.md